# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Backend runtime output
client_data/
last_results/
last_tiles_results/
last_tiles_results/TileCross.stl
last_tiles_results/TileDiagnoal.stl
last_tiles_results/TileCross.stl

# Node / React
react_frontend/node_modules/
node_modules
react_frontend/dist/
react_frontend/.storybook-static/

# Editor / OS
.claude/settings.local.json
.DS_Store
Thumbs.db
